@model SistemaGestionNotas.Models.Calificacion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Calificacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Curso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Curso.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alumno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alumno.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaParcialUno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaParcialUno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaParcialDos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaParcialDos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaZona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaZona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaExamen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaExamen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaFinal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CalificacionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
